.try{
    background-color: #F3F4FA;
    border: none;
}

.margin{
    margin-top: 70px;
}

.send{
    color: white;
}
.send:hover{
    text-decoration: none;
    color: white;
}

.input{
    font-size: 1pc;
}

.cardBorder{
    border-top: 1px solid white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.img-container{
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 200px;
    height: 250px;
    border-top: 1px solid white;
}

.img{
    width: 200px;
    height: 250px;
    object-fit: cover;
}

.area{
    height: 100px;
}
